$white: #fff;
$black: #333;
$orange: #ffa500;
$lightergray: #d5d5d5;
$lightgray: #f0f3f1;
$gray: #e3dddd;
$text: #888;
$button: #3e3e3f;
$button-hover: #565657;

html {
  scroll-behavior: smooth;
}

body {
  color: $black;
  background-image: url('../public/assets/img/rider.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Aeonis', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.45;
  letter-spacing: 0.01em;
  margin: 0 auto;
  max-width: 1400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.no-product-message {
  font-style: italic;
  font-size: 2rem;
  padding-top: 2.5rem;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  transform: 0.3s;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(106, 120, 131, 0.5);
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(106, 120, 131, 0.6);
}
